$rgbGrey: rgb(136, 132, 132);
$rgbRed: rgb(133, 14, 14);
$rgbGreen: rgb(133, 202, 124);
$rgbPink: rgb(226, 87, 215);
$rgborange: rgb(255, 136, 0);
$rgbBlack: rgb(0, 0, 0);

comment-item {
    .commentSect {
        padding: 10px;
        margin: 20px;
        display: flex;
        flex-direction: row;
        //justify-content: space-around;
        border-style: solid;
        border-color: $rgbBlack;
        border-radius: 25px;
    }
}