$rgbGrey: rgb(136, 132, 132);
$rgbRed: rgb(133, 14, 14);
$rgbGreen: rgb(44, 216, 22);
$rgbPink: rgb(226, 87, 215);
$rgbOrange: rgb(255, 136, 0);
$rgbBlack: rgb(0, 0, 0);
$rgbWhite: rgb(255, 255, 255);